.main-nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: $tablet-width) {
    display: none;
  }
  @media (max-width: $mobile-width) {
    display: none;
  }
}
.main-nav__list-link {
  color: $darkest-dark;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
}
.main-nav__list-link:hover {
  color: $accent-base;
}
.main-nav__list-item--first {
  width: 114px;
}
.main-nav__list-item--second {
  margin-left: 2.083vw;
}
.main-nav__list-item--last {
  width: 200px;
  margin-left: 5.035vw;
  position: relative;
}
.main-nav__list-item--last::before {
  position: absolute;
  left: -42px;
  content: url("../img/icons/icon-phone.svg");
}
.main-nav__list-item--last:hover:before {
  content: url("../img/icons/icon-phone-orange.svg");
  cursor: pointer;
}
.main-nav__list-link--phone {
  color: $darkest-dark;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
