.modal__purchase-legend-text {
  color: $darkest-dark;
  font-weight: 600;
  font-size: 25px;
  line-height: 43px;
  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 25px;
    line-height: 43px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 600;
    font-size: 25px;
    line-height: 43px;
  }
}
.modal__purchase-list-input {
  color: $darkest-dark;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  @media (max-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
.modal__success-title {
  color: $darkest-dark;
  font-weight: 500;
  font-size: 25px;
  line-height: 43px;
  @media (max-width: $tablet-width) {
    font-weight: 500;
    font-size: 25px;
    line-height: 43px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 500;
    font-size: 25px;
    line-height: 43px;
  }
}
