.places-tab__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 240px;
  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 80px;
  }
  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }
}
.places-tab__info {
  @media (max-width: $tablet-width) {
    text-align: center;
  }
}
.places-tab__info-headline {
  margin-top: 85px;
  margin-bottom: 50px;
  position: relative;
  color: $dark;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  @media (max-width: $tablet-width) {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
  }
  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
}
.places-tab__info-headline::after {
  content: "";
  position: absolute;
  top: 103px;
  left: 0;
  width: 9.115vw;
  border-bottom: 4px solid $accent-base;
  @media (max-width: $tablet-width) {
    display: none;
  }
}
.places-tab__info-text {
  width: 390px;
  margin-bottom: 47px;
  color: $dark;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  @media (max-width: $tablet-width) {
    margin: 0 auto;
    width: 726px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  @media (max-width: $mobile-width) {
    width: 298px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}
.places-tab__info-button {
  width: 248px;
  padding: 30px 20px 30px 20px;
  @media (max-width: $tablet-width) {
    margin-top: 17px;
    padding: 20px 20px 20px 20px;
  }
  @media (max-width: $mobile-width) {
    margin-top: 20px;
    width: 298px;
  }
}
.places-tab__review {
  z-index: 1;
  position: relative;
  margin-left: auto;
  margin-top: 194px;
  width: 19.896vw;
  @media (max-width: $tablet-width) {
    width: 49.740vw;
    margin: 0 auto;
    margin-top: 40px;
  }
  @media (max-width: $mobile-width) {
    width: 288px;
    text-align: center;
    margin-top: 105px;
    width: 268px;
  }
}
.places-tab__review-description {
  background-color: $white;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 23px;
  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}
.places-tab__review::after {
  width: 22.396vw;
  height: 31.042vw;
  z-index: -1;
  position: absolute;
  right: 71%;
  top: -120px;
  @media (max-width: $tablet-width) {
    left: auto;
    right: 200px;
    width: 100%;
    top: -85px;
  }
  @media (max-width: $mobile-width) {
    top: -65px;
    right: 300px;
  }
}
.places-tab__review--greece::after {
  content: url("../img/tab-greece-desktop@1x.jpg");
  @media (resolution: $retina) {
    background-image: url("../img/tab-greece-desktop@2x.jpg");
  }
  @media (max-width: $tablet-width) {
    content: url("../img/tab-greece-tablet@1x.jpg");
    @media (resolution: $retina) {
      background-image: url("../img/tab-greece-tablet@2x.jpg");
    }
  }
}
.places-tab__review--albania::after {
  content: url("../img/tab-albania-desktop@1x.jpg");
  @media (resolution: $retina) {
    background-image: url("../img/tab-albania-desktop@2x.jpg");
  }
  @media (max-width: $tablet-width) {
    content: url("../img/tab-albania-tablet@1x.jpg");
    @media (resolution: $retina) {
      background-image: url("../img/tab-albania-tablet@2x.jpg");
    }
  }
}
.places-tab__review--macedonia::after {
  content: url("../img/tab-macedonia-desktop@1x.jpg");
  @media (resolution: $retina) {
    background-image: url("../img/tab-macedonia-desktop@2x.jpg");
  }
  @media (max-width: $tablet-width) {
    content: url("../img/tab-macedonia-tablet@1x.jpg");
    @media (resolution: $retina) {
      background-image: url("../img/tab-macedonia-tablet@2x.jpg");
    }
  }
}
.places-tab__review--montenegro::after {
  content: url("../img/tab-montenegro-desktop@1x.jpg");
  @media (resolution: $retina) {
    background-image: url("../img/tab-montenegro-desktop@2x.jpg");
  }
  @media (max-width: $tablet-width) {
    content: url("../img/tab-montenegro-tablet@1x.jpg");
    @media (resolution: $retina) {
      background-image: url("../img/montenegro-tablet@2x.jpg");
    }
  }
}
.places-tab__review--croatia::after {
  content: url("../img/tab-croatia-desktop@1x.jpg");
  @media (resolution: $retina) {
    background-image: url("../img/tab-croatia-desktop@2x.jpg");
  }
  @media (max-width: $tablet-width) {
    content: url("../img/tab-croatia-tablet@1x.jpg");
    @media (resolution: $retina) {
      background-image: url("../img/tab-croatia-tablet@2x.jpg");
    }
  }
}
.places-tab__review-headline {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  color: $dark;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  @media (max-width: $tablet-width) {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}
.places-tab__review-headline::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 3.542vw;
  border-bottom: 0.7px solid $accent-base;
  @media (max-width: $tablet-width) {
    width: 8.542vw;
  }
  @media (max-width: $mobile-width) {
    width: 68px;
    left: 95px;
    top: 35px;
  }
}
.places-tab__review-text {
  width: 310px;
  color: $dark;
  opacity: 0.7;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  @media (max-width: $tablet-width) {
    width: 44.365vw;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
  @media (max-width: $mobile-width) {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 248px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
}
.places-tab__review-author {
  display: flex;
  align-items: center;
  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}
.places-tab__review-author-name {
  margin-top: 25px;
  margin-left: 15px;
  color: $dark;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  @media (max-width: $tablet-width) {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: $mobile-width) {
    margin-left: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
