.places {
  margin-top: 199px;
  @media (max-width: $tablet-width) {
    margin-top: 80px;
  }
}
.places__headline {
  position: relative;
  margin-bottom: 64px;
  width: 358px;
  color: $dark;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  @media (max-width: $tablet-width) {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 301px;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    width: 288px;
  }
}
.places__headline::after {
  content: "";
  position: absolute;
  top: 189px;
  left: 0;
  width: 11.927vw;
  border-bottom: 4px solid $accent-base;
  @media (max-width: $tablet-width) {
    display: none;
  }
}
.places__headline-lead {
  width: 400px;
  margin-bottom: 55px;
  color: $dark;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  @media (max-width: $tablet-width) {
    text-align: center;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  @media (max-width: $mobile-width) {
    text-align: center;
    width: 288px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}
.places__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  @media (max-width: $tablet-width) {
    padding-left: 6.243vw;
    padding-right: 6.243vw;
  }
  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
.places__list-item {
  width: 18.229vw;
  @media (max-width: $tablet-width) {
    width: 37.500vw;
  }
  @media (max-width: $mobile-width) {
    width: 90vw;
  }
}
.places__list-item:not(.places__list-item--first) {
  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}
.places__list-item--first {
  margin-right: auto;
  margin-bottom: 5.060vw;
  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }
}
.places__list-item--third {
  margin-left: auto;
  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 23px;
  }
  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }
}
.places__list-item--fourth {
  margin-left: 115px;
  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
}
.places__list-item--fifth {
  margin-right: 115px;
  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}
.places__list-link {
  position: relative;
}
.places__list-link:hover::before {
  z-index: 50;
  position: absolute;
  content: "Смотреть подробнее";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.729vw;
  line-height: 17px;
  padding-top: 59%;
  padding-left: 4.788vw;
  height: 22.396vw;
  width: 100%;
  color: $white;
  background-color: $hover-card;
  @media (max-width: $tablet-width) {
    content: "";
    background-color: $full-opacity;
  }
  @media (max-width: $mobile-width) {
    content: "";
    background-color: $full-opacity;
  }
}
.places__list-link::after {
  position: absolute;
  top: -2.579vw;
  content: "";
  padding: 0.925vw 3.229vw 2.625vw 3.229vw;
  background-color: $white;
  text-align: center;
  color: $dark;
  font-weight: 500;
  font-size: 1.250vw;
  line-height: 29px;
  @media (max-width: $tablet-width) {
    padding: 2.083vw 7.943vw 2.083vw 7.943vw;
    font-size: 3.125vw;
    top: -5.679vw;
    left: 6.288vw;
  }
  @media (max-width: $mobile-width) {
    padding: 16px 61px 16px 61px;
    font-size: 24px;
    top: -46px;
  }
}
.places__list-link--first::after {
  content: "Греция";
  left: 3.488vw;
  @media (max-width: $tablet-width) {
    padding: 2.083vw 7.943vw 2.983vw 8.943vw;
    top: -5.979vw;
    left: 4.288vw;
  }
  @media (max-width: $mobile-width) {
    padding: 20px 66px 20px 66px;
    top: -44px;
    left: 36px;
  }
}
.places__list-link--second::after {
  content: "Албания";
  left: 3.688vw;
  padding: 1.025vw 2.729vw 2.625vw 2.629vw;
  @media (max-width: $tablet-width) {
    padding: 2.083vw 6.943vw 2.983vw 5.943vw;
    top: -5.979vw;
    left: 5.288vw;
  }
  @media (max-width: $mobile-width) {
    padding: 15px 60px 15px 60px;
    top: -44px;
    left: 26px;
  }
}
.places__list-link--third::after {
  content: "Македония";
  left: 3.298vw;
  padding: 1.025vw 1.729vw 2.625vw 2.129vw;
  @media (max-width: $tablet-width) {
    padding: 2.083vw 3.943vw 2.983vw 4.943vw;
    top: -5.979vw;
    left: 4.288vw;
  }
  @media (max-width: $mobile-width) {
    padding: 15px 40px 15px 40px;
    top: -44px;
    left: 26px;
  }
}
.places__list-link--fourth::after {
  content: "Черногория";
  left: 3.698vw;
  padding: 1.025vw 1.529vw 2.625vw 1.429vw;
  @media (max-width: $tablet-width) {
    padding: 2.083vw 3.943vw 2.983vw 3.943vw;
    top: -5.979vw;
    left: 5.288vw;
  }
  @media (max-width: $mobile-width) {
    padding: 15px 40px 35px 40px;
    top: -54px;
    left: 26px;
  }
}
.places__list-link--fifth::after {
  content: "Хорватия";
  left: 3.398vw;
  padding: 1.025vw 2.629vw 2.625vw 2.429vw;
  @media (max-width: $tablet-width) {
    padding: 2.083vw 6.943vw 2.983vw 6.943vw;
    top: -5.379vw;
    left: 4.288vw;
  }
  @media (max-width: $mobile-width) {
    padding: 15px 40px 35px 40px;
    top: -44px;
    left: 46px;
  }
}
