.places__headline {
  color: $dark;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
}
.places__headline-lead {
  color: $dark;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  @media (max-width: $tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}
.places__list-link-title {
  color: $dark;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  @media (max-width: $tablet-width) {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
}
