.promo {
  background-color: $promo-back-blue;
  background-image: url("../img/promo-back-desktop@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (resolution: $retina) {
    background-image: url("../img/promo-back-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/promo-back-tablet@1x.jpg");

    @media (resolution: $retina) {
      background-image: url("../img/promo-back-tablet@2x.jpg");
    }
  }
  @media (max-width: $mobile-width) {
    background-position: top;
    background-size: cover;
    background-image: url("../img/promo-back-mobile@1x.jpg");

    @media (resolution: $retina) {
      background-image: url("../img/promo-back-mobile@2x.jpg");
    }
  }
}
.promo__headline-wrapper {
  width: 407px;
  margin-left: auto;
  margin-right: 22.852vw;
  padding-top: 185px;
  padding-bottom: 296px;
  @media (max-width: $tablet-width) {
    width: 417px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 70px;
  }
  @media (max-width: $mobile-width) {
    margin: 0 auto;
    margin-bottom: 310px;
    width: 294px;
    padding-top: 81px;
    padding-bottom: 0;
  }
}
.promo__headline {
  margin: 0;
  margin-bottom: 30px;
  color: $white;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
  }
  @media (max-width: $mobile-width) {
    font-weight: 600;
    font-size: 7.500vw;
    line-height: 36px;
    padding-bottom: 90px;
  }
}
.promo__headline-lead {
  margin-top: 0;
  margin-bottom: 59px;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  @media (max-width: $tablet-width) {
    text-align: center;
    margin-bottom: 25px;
    width: 437px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
  @media (max-width: $mobile-width) {
    color: $dark;
    width: 288px;
    margin-bottom: -150px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
.promo__headline-button-wrapper {
  margin-bottom: 30px;
}
.promo__headline-button {
  width: 440px;
  padding: 30px 189px 30px 52px;
  position: relative;
  @media (max-width: $tablet-width) {
    width: 258px;
    padding: 19px 127px 19px 40px;
  }
  @media (max-width: $mobile-width) {
    width: 288px;
    bottom: -180px;
    padding: 19px 165px 19px 40px;
  }
}
.promo__headline-button::after {
  position: absolute;
  left: 84%;
  top: 36%;
  content: url(../img/icons/icon-arrow.svg);
  @media (max-width: $tablet-width) {
    left: 78%;
  }
}
