$white: #FFFFFF;
$black: #000000;
$bright: #FBF8F8;
$accent-base: #FE7865;
$accent-hover: #F17D4B;
$darkest-dark: #141517;
$dark: #2C2E3F;
$promo-back-blue: #8cbed6;

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

$retina: 144dpi;
