$white: #FFFFFF;
$black: #000000;
$bright: #FBF8F8;
$accent-base: #FE7865;
$accent-hover: #F17D4B;
$darkest-dark: #141517;
$dark: #2C2E3F;
$dark-opacity: rgba(44, 46 ,63, 0.3);
$promo-back-blue: #8cbed6;
$hover-card: rgba(0, 0, 0, 0.7);
$full-opacity: rgba(0, 0, 0, 0);

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

$retina: 144dpi;
